<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" metadata-complete="true" version="6.0">
  <display-name>studentcrudapp2</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/InsertStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <servlet-class>com.royal.controller.StudentRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegistrationServlet</servlet-name>
    <url-pattern>/StudentRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayAllStudentsServlet</servlet-name>
    <servlet-class>com.royal.controller.DisplayAllStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllStudentsServlet</servlet-name>
    <url-pattern>/DisplayAllStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDataServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataServlet</servlet-name>
    <url-pattern>/UpdateDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.royal.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.royal.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.royal.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TestFilter</display-name>
    <filter-name>TestFilter</filter-name>
    <filter-class>com.royal.filter.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/FirstServlet</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.royal.listener.TestRequestListener</listener-class>
  </listener>
</web-app>